html,
body,
#app {
  margin: 0;
  padding: 0;
}

html.dark {
  background: #222;
  color: white;
}

a {
  font-weight: 400;
  color: var(--el-color-primary);
}

.fm-button--primary {
  color: var(--el-color-primary) !important;
}
.fm-button--info {
  color: var(--el-color-primary) !important;
}
.fm-button--text {
  color: var(--el-color-primary) !important;
}
